/*-- Body Reset --*/
body {
  /* overflow-x: make sures that there's no scrolling in the x direction */
  justify-content: left;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: #616971;
}

/* Nagivation */
.navbar {
  height: 80px;
  display: flex;
  font-size: 1.15rem;
}
.collapse {
  justify-content: flex-end;
  /* background-color:blue; */
}
.nav-item {
  margin-right: 10px;
}
.nav-link {
  width: 100%;
  color: #374c6a !important;
}
.nav-item:hover .dropdown-menu {
  display: block;
}

.nav-link.active,
.nav-link:hover {
  color: #fb3d36 !important;
}
/* End Navigation */

/* Footer Section */
.footer {
  background-color: #fafafa;
  padding: 2rem;
}
.footer__container {
  justify-content: center;
  display: flex;
  flex-direction: col;
}
.footer__nav-link {
  margin-top: 10px;
  color: #111220;
  font-weight: 400;
  text-decoration: none;
}
.footer__nav-link:hover {
  color: #111220 !important;
}
.footer__email {
  margin-top: 10px;
  color: #fb3d36;
  font-weight: 800;
  text-decoration: none;
}
.footer__email:hover {
  color: #fb3d36 !important;
}
.footer__nav-div {
  margin-top: 10px;
  color: #111220;
  margin-left: 1rem;
  margin-right: 1rem;
}
.footer__container {
  justify-content: center;
  display: flex;
  flex-direction: col;
}
.footer__rights {
  font-weight: 200;
  color: #111220;
}
/* End Footer Section */
