body {
    overflow-x: hidden;
    font-family: 'Poppins', serif;
}

/* Cover Section */
.cover{
    width:100%;
    min-height:100vh;
    box-sizing:content-box;
    
}
.cover__deco1{
    position:absolute;
    top:5%;
    left:25%;
    width:20%;
    height:20%;
    /* background-color:red; */
}
.outer__circle1{
    position:absolute;
    width:20rem;
    height:20rem;
    background: rgb(54,255,246);
    background: linear-gradient(20deg, rgba(54,255,246,0.4066001400560224) 0%, rgba(124,0,255,0.3757878151260504) 100%);
    box-shadow: inset 1px 1px 2rem 1rem white;
    border-radius:10rem;
}
.inner__circle1{
    /* margin-top:1rem;
    margin-left:1rem; */
    position:absolute;
    width:8rem;
    height:8rem;
    border-radius:4rem;
    background-color:white;
    box-shadow: 1px 1px 2rem 2rem white;
}
.cover__letter__main{
    width:50%;
    position:absolute;
    top:-120px;
    text-align:center;
    font-size:700px;
    font-family:'Atkinson Hyperlegible', sans-serif;
}
.cover__letter__main p{
    color:white;
    background-image:url('source/picture5.png');
    background-position:center;
    height:5000px;
    background-clip:text;
    -webkit-background-clip: text;
    color:transparent; 
}
.cover__letter__shadow1,
.cover__letter__shadow2{
    width:50%;
    position:absolute;
    top:-120px;
    text-align:center;
    font-size:700px;
    font-family:'Atkinson Hyperlegible', sans-serif;
}
.cover__letter__shadow1 p{
    color:#4442df;
    margin-left:60px;
    margin-top:20px;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke-width:4px;
}
.cover__letter__shadow2 p{
    color:#81b7ff;
    margin-left:-60px;
    margin-top:-20px;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke-width:1px;
}
.cover__title{
    position:absolute;
    left:35%;
    top:28%;
}
.cover__title h1{
    color:black;
    font-weight:400;
    text-transform:uppercase;
    letter-spacing:15px;
    word-spacing:10px;
    font-size:80px;
    text-shadow: 2px 4px 10px #ffffff;
}
.cover__paragraph{
    position:absolute;
    left:40%;
    top:42%;
    width:55%;
    padding:1rem;
}
.cover__paragraph p{
    color:rgb(13, 2, 49);
    text-align:left;
    font-weight:200px;
    font-size:20px;
}
/* End Cover Section */