/*-- Body Reset --*/
body {
    /* overflow-x: make sures that there's no scrolling in the x direction */
    justify-content: left;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    color: #616971;
  }
  
  #red__button {
    border: none;
    background-color: transparent;
    color: rgb(255, 61, 27) !important;
    border: 2px solid rgb(255, 61, 27);
    border-radius: 42px;
    box-shadow: inset 0 0 0 0 rgb(162, 250, 250);
    transition: ease-out 0.3s;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-top: 1rem;
    width: 10rem;
  }
  #red__button:hover {
    border: 2px solid rgb(162, 250, 250);
    box-shadow: inset 10rem 0 0 0 rgb(162, 250, 250);
    color: #374c6a !important;
  }
  
  /* Nagivation */
  .navbar-brand img {
    height: 3rem;
  }
  .navbar {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 35px;
    position: absolute;
    right: 3rem;
    top: 0.4rem;
    font-size: 1.35rem;
    font-weight: 400;
    text-align: right;
    z-index: 1;
  }
  .nav-item {
    padding: 0.3rem;
  }
  .nav-item:hover .dropdown-menu {
    background-color: rgba(255, 255, 255, 1);
    display: inline-flex;
    flex-direction: column;
    left: -10px;
    border: none;
    outline: none;
    text-align: left;
    font-size: 1.2rem;
  }
  .dropdown-item:hover {
    background: transparent;
    color: #fb3d36 !important;
  }
  .nav-link {
    color: #374c6a !important;
  }
  .nav-link.active,
  .nav-link:hover {
    color: #fb3d36 !important;
  }
  /* End Navigation */
  
  /* Hero Section */
  .hero {
    margin-top:6rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    background-image: radial-gradient(#ddd 10%, transparent 11%),
      radial-gradient(#ddd 10%, transparent 11%);
    background-size: 15px 15px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;
  }
  .banner {
    justify-content: center;
    font-size: 50px;
    word-spacing: 20px;
    font-weight: 800;
    color: #fb3d36;
  }
  /* End Hero Section*/
  
  /* Table section */
  .th_i {
    text-align: center;
    width: 14%;
  }
  
  .btn_sized {
    height: 80px;
    width: 10vw;
  }
  
  .th_1 {
    text-align: center;
    width: 15%;
  }
  
  .th_2 {
    text-align: center;
    width: 15%;
  }
  
  .th_3 {
    text-align: center;
    width: 30%;
  }
  
  .th_4 {
    text-align: center;
    width: 30%;
  }
  
  .th_5 {
    text-align: center;
    width: 10%;
  }
  /* End Table Section */
  
  /* Business Section */
  .bus-section {
    background: rgb(255, 242, 240);
    background: linear-gradient(
      90deg,
      rgba(255, 242, 240, 1) 0%,
      rgba(244, 253, 253, 1) 100%
    );
  }
  .bus__container {
    margin-right: 4rem;
    margin-left: 4rem;
    padding: 2rem;
    background-color: #fff;
    /* box-shadow: 0px 0px 10px #fecac9; */
    box-shadow: 0px 0px 10px rgba(13, 110, 253, 0.1);
    border-radius: 20px;
  }
  /* End Business Section */
  
  /* Inquiry Section */
  
  .in__container p,
  button,
  h2 {
    color: #111220;
  }
  /* End Inquiry Section */
  
  /* Footer Section */
  .footer {
    background-color: #fafafa;
    padding: 2rem;
  }
  .footer__container {
    justify-content: center;
    display: flex;
    flex-direction: col;
  }
  .footer__nav-link {
    margin-top: 10px;
    color: #111220;
    font-weight: 400;
    text-decoration: none;
  }
  .footer__nav-link:hover {
    color: #111220 !important;
  }
  .footer__email {
    margin-top: 10px;
    color: #fb3d36;
    font-weight: 800;
    text-decoration: none;
  }
  .footer__email:hover {
    color: #fb3d36 !important;
  }
  .footer__nav-div {
    margin-top: 10px;
    color: #111220;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .footer__container {
    justify-content: center;
    display: flex;
    flex-direction: col;
  }
  .footer__rights {
    font-weight: 200;
    color: #111220;
  }
  /* End Footer Section */
  